<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
</head>
<body class="container fluid">

<main>
    <div class="container fluid">
    <div class="jumbotron ">
        <h1>LISTADO DE CLIENTES</h1>
        </div>
        <div class="table-responsive">
        <table class="table table-hover table-sm" style="font-size: 10px;">
            <thead class="table-dark">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Nacimiento</th>
                <th scope="col">Curp</th>
                <th scope="col">Celular</th>
                <th scope="col">Domicilio</th>
                <th scope="col">Referencia #1</th>
                <th scope="col">Referencia #2</th>
                <th scope="col">Trabajo</th>
                <th scope="col">Banco</th>
                <th scope="col">Monto</th>
                <th scope="col">Email</th>
                <th scope="col">Fecha</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
        <% clients.forEach(function(client) {%>
            <tr>
                <th scope="row"><%= client.username %> <%= client.first_lastname %> <%= client.second_lastname %></th>
                <td><%= client.birdthday %></td>
                <td><%= client.curp %></td>
                <td><%= client.phone %></td>
                <td><%= client.street %> <%= client.cp %> <%= client.colony %> <%= client.government %> <%= client.country %> <%= client.city %></td>
                <td><%= client.nameref01 %> <%= client.relref01 %> <%= client.phoneref01 %></td>
                <td><%= client.nameref02 %> <%= client.relref02 %> <%= client.phoneref02 %></td>
                <td><%= client.company %> <%= client.address %> <%= client.occupation %> <%= client.salary %> </td>
                <td><%= client.holder %> <%= client.clabe %> <%= client.bank %></td>
                <td><%= client.amount %></td>
                <td><%= client.email %></td>
                <td><%= client.Created_date %></td>
                <td><button class="btn btn-warning btn-sm">Enviar</button></td>
            </tr>
        <% }); %>
     </tbody>
          </table>
          </div>
    
    </div>
</main>

<footer>
    <%- include('./footer'); %>
</footer>

</body>
</html>